name: CI
on:
  push:
  pull_request:
  schedule:
    - cron: 0 7 1 * *
jobs:
  build:
    strategy:
      matrix:
        go-version: [1.16.x, 1.x]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
          cache: true
      - name: Race tests
        run: make test-race
      - name: Tests with coverage
        run: make test-coverage
      - name: Build and run
        run: make && ./bin/hellogopher hello
      - name: Upload binary
        uses: actions/upload-artifact@v2
        if: matrix.go-version == '1.x'
        with:
          name: binary-${{ matrix.os }}
          path: bin/hellogopher
          if-no-files-found: error
